body {
    background-color: rgba(157, 207, 206, 1)
}

.tab {
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #008cb4;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #01c7fc;
}

.tab button.active {
  background-color: #cbf0ff;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #008cb4;
  border-top: none;
}