@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: rgba(157, 207, 206, 1);
  text-align: center;
}

#loginForm {
  background-color: rgba(245, 245, 245, 1);
  min-width: 75%;
  padding: 10px;
  margin: 175px auto;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

#registerForm {
  background-color: rgba(245, 245, 245, 1);
  width: 75%;
  padding: 10px;
  margin: 120px auto;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

.top-heading {
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
  display: block;

}

.textField {
  min-width: 95%;
  height: 5%;
  border-radius: 20px;
  font-size: 18px;
  color: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  text-align: left;
  padding: 10px 15px;
  margin: 0 auto 20px;
  font-family: 'Times New Roman', Times, serif !important;
}

.secureTextField {
  min-width: 95%;
  height: 5%;
  border-radius: 20px;
  font-size: 18px;
  color: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  text-align: left;
  padding: 10px 15px;
  margin: 0 auto 20px;
  font-family: 'Times New Roman', Times, serif !important;
}

.profilePictureWrapper {
  height: 100px;
  width: 100px;
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: relative;
  margin: 0 auto 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
}

.profileImageHolder {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 50%;
}

#profileInitial {
  color: gray;
  font-size: 30px;
  margin: auto;
}

.button {
  margin: 40px auto;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  text-align: center;
}

.button:hover {
  margin: 40px auto;
  width: 50%;
  height: 10%;
  border-radius: 20px;

  font-weight: lighter;
  font-size: 20px;
  color: black;
  background-color: rgb(255, 232, 183);
  text-align: center;
}

a {
  display: block;
  position: relative;
  margin: auto;
  color: inherit;

  font-weight: lighter;
  font-size: 20px;
  text-decoration: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(111, 111, 111);
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.error-messeage-wrapper {
  min-width: 75%;
  min-height: 50%;
  position: absolute;
  top: 25%;
  left: 12%;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  text-align: center;
  padding: auto;
}

.error-image {
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
  margin: auto;
  padding: 10px
}

#errorMesseageHeading {
  display: block;
  position: relative;
  font-size: calc(30px + 1.5vw);
  margin: 20px auto;
}

#errorMesseage {
  color: black;
  font-weight: lighter;
  display: block;
  position: relative;
  font-size: calc(12px + 1.5vw);
  margin: 20px auto;
}

#error-dimiss-btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: red;
  font-weight: lighter;
  font-size: 20px;
  color: white
}

#error-dimiss-btn:hover {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: rgb(255, 98, 98);
  font-weight: lighter;
  font-size: 20px;
  color: white
}

.profileWrapper {
  background-color: rgba(130, 181, 179, 1);
  max-width: 25%;
  margin: 10px 10px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 20px;
}

#dashboardProfilePicture {
  height: 100px;
  width: 100px;
  background-color: rgba(120, 171, 165, 1);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#dashboardProfileInitial {
  color: black;
  font-size: 50px;
  margin: 18px
}

#dashboardUserName {
  color: black;
  font-size: 40px;
}

#dashboardSignOutButton {
  width: 50%;
  height: 10%;
  border-radius: 20px;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: rgba(120, 171, 165, 1); 
  border: none;
}

#dashboardSignOutButton:hover {
  width: 50%;
  height: 10%;
  border-radius: 20px;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: rgb(15, 111, 100); 
  border: none;
}




@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}